.file {
  display: flex;
  justify-content: center;
  padding: 120px 0 0 0;
  background-image: url("./txt-icon.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: top;
  width: 120px;

  &:hover {
    background-color: #bdb4e1;
  }
}
