.mainbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 24px;

  h2 {
    margin: 0 0 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .files {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
