.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: white;
  border-right: 1px solid #ccc;
  padding: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    h4 {
      margin: 0;
    }

    button {
      height: 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: white;
      background-color: #3393de;
      border: 1px solid #3393de;
      border-radius: 2px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
      cursor: pointer;

      &:hover {
        color: #3393de;
        background-color: #d6e9f8;
      }
    }
  }

  .files {
    display: flex;
    flex-direction: column;

    a {
      width: fit-content;
      margin-bottom: 4px;
    }
  }
}
